<h1>Locations</h1>

<p>
  <%= link_to 'New locaton', new_location_path %>
</p>

<% @locations.each do |current_location| %>
<%= render 'single_location', location: current_location %>
<%= render 'location_form', location: current_location %>
<% end %>
